[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/mimalloc"]
	path = extern/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "extern/KTX-Software"]
	path = extern/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software
